.radio input {
  margin: 5px;
}
.hide {
  display: none;
}
.showTable {
  display: block;
}

#noResult {
  display: none;
}
.margin-checkbox {
  margin: 6px;
}
/*FOOD*/
.hide-food,
.hide-food-th {
  display: none;
}
.show-food {
  display: block;
}
select {
  margin: 0 auto;
}

table {
  margin: 0 auto;
}
.hide-descr {
  display: none;
}
.show-descr {
  display: block;
}
