body {
  background: radial-gradient(#4e3022, #161616);
  background-size: cover;
}
.first-container {
  height: 100vh;
}
#central-pic {
  display: flex;
}
#central.pic img {
  margin: 0;
}
.half-pic {
  width: 150px;
  height: 300px;
  cursor: pointer;
}
.cocktail-viola-left {
  transform: translateY(10%);
  transition: all 0.5 ease;
}
.cocktail-viola-right {
  transform: translateY(-10%);
  transition: all 0.8s ease;
}
.close {
  transform: translateY(0%);
}
.hide-text {
  display: none;
}
.hide-text-3 {
  display: none;
}
.show-text {
  display: block;
}
.btn-home {
  color: white;
  background-color: chocolate;
}
.card-div {
  margin-bottom: 20px;
}
.parallax {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform 5s ease-out 0.5s;
}
.parallaxScroll {
  transform: translateY(-100%);
}

.parallaxText1 {
  opacity: 0;
  transition: all 3s ease-in-out 0.2s;
}
.parallaxText2 {
  opacity: 0;
  transition: all 3s ease-in-out 0.2s;
}

.parallaxTextShow {
  opacity: 1;
}
