@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Playfair Display", serif;
}
.logo {
  font-family: "Lobster", cursive;
  font-size: 40px;
}
nav {
  background: radial-gradient(#4e3022, #161616);
}

.main {
  top: 80px;
}
.table {
  max-width: 80%;
}
.footer {
  top: 100px;
  padding: 20px;
}
